#arrow {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  transform-origin: top left;
  padding: 5px;
  width: 30px;
}

body {
  margin: 0px;
  /*Stops the content from shifting when the scrollbar appears.*/
  padding-left: calc(100vw - 100%);
}

main {
  padding: 5px;
  margin: 90px auto;
  max-width: 500px;
}

section {
  overflow-wrap: break-word
}

a {
  font-family: helvetica;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #a495a2;
}

#navigation {
  display: flex;
  gap: 10px;
  padding: 0px;
}

#navigation li {
 list-style-type: none;
}

.snippet {
  text-align: justify;
  text-justify: inter-word;
}

.blogdate {
  font-family: helvetica;
  font-size: 60%;
  bottom: -9px;
  position: relative;
  float: right;
}

@media only screen 
  and (max-device-width: 950px)  {
  
  main{
    max-width: 670px;
  }

  a {
  font-family: helvetica;
  text-decoration: none;
  color: black;
  font-size: 400%;
  padding-right: 20px;
  }

  h2 {
    padding-top: 20px;
    font-size: 450%;
  }

  .blogdate {
    float: left;
    padding-bottom: 40px;
    clear: left;
  }

    .snippet{
    font-size: 170%;
    clear: left;
  }

  .blogname
  {
    float: left;
    clear: left;
  }
}


}
  
  #arrow {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  transform-origin: top left;
  padding: 5px;
  width: 50px;
  }

  .blogname {
   font-size: 100%;
  }


}

