body {
  margin: 0px;
 
}

#profile {
  width: 100% !important; 
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#profilepiccontainer{
  float: left;
  width: 200px;
}

#profilepic{
  width: 200px;
  filter: drop-shadow( -6px 4px 3px #887b9145);
}

#descriptioncontainer {
  max-width: 100%;

}

.description {
  padding-left: 20px;
  font-family: helvetica;
  line-height: 1.8;
  margin: 0px;
}

#links {
  height: 110px;
  list-style-type: none;
  display: flex;
  overflow: clip;
  margin-bottom: 0px;
  padding-left: 30px;
}

#links li{
  width: 50px;
  overflow: visible;
}

#links li img{
  position: absolute;
  width: 40px;
  transition: scale 0.2s;
}

#links li img:hover {
  scale: 110%;
}

#email {
  width: 100px !important;
  font-family: helvetica;
  font-size: 80%;
  font-weight: bold ;
}

@media only screen 
  and (max-device-width: 950px)  { 
  #profile {
  width: 90% !important; 
  min-height: 700px;
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 1100px;
 }
  #links li{
    width: 150px;
    overflow: visible;
  }
  #links li img{
  position: absolute;
  width: 100px;
  transition: none;
  }
  #email {
  width: 120px !important;
  font-family: helvetica;
  font-size: 200%;
  font-weight: bold ;
  }

  #profilepiccontainer{
  float: left;
  width: 360px;
  padding: 90px;
}

  #profilepic
  {
    width: 350px;
  }

  #descriptioncontainer
  {
    height: 130%;
  }

  .description
  {
    font-size: 170%;
  }

  #links li img:hover {
    scale: 100%;

  }
}

}


