


h2 {
	font-family: helvetica;
}

h5 {
	font-family: helvetica;
}

p {
	text-align: justify;
  text-justify: inter-word;
}
figure {
  padding: 0px;
  margin: 0px;
  max-width: 500px;
}

figure img {
	max-width: 100%;
	margin: 0;
	padding: 0;

}

figcaption {
	text-align: center;
	padding: 10px 0px 0px;
	color: #606060;
	font-family: georgia;
	font-style: italic;
	font-size: 80%;
}

.footnote {
	color: #606060;
	font-family: georgia;
	font-style: italic;
	font-size: 80%;
}

hr.solid {
  border-top: 3px solid #bbb;
}

