#roviodescription {
  font-family: helvetica;
  line-height: 1.5;
  margin: 0px;

}

h2 {
	font-family: helvetica;
}

p {
	text-align: justify;
  text-justify: inter-word;
  width: 560px;
}
.videosection{
	padding-top: 35px;
}

h3 {
	font-family: helvetica;
}

.projectpic {
	width: 560px;
}

.projectlink {
	text-decoration: underline;
}

.gamegif{
	padding: 16px;
}

#gamegifs{
	width: 600px;
}

.ggglevels{
	width: 700px;
}

.projectyear {
  font-family: helvetica;
  font-size: 90%;
  bottom: -5px;
  position: relative;
  float: right;
}

.widesection {
	width: 560px;
}

.worksnippet
{
	font-family: helvetica;
  line-height: 1.5;
  margin: 0px;
}

@media only screen 
  and (max-device-width: 950px)  {
  
  main{
    max-width: 670px;
  }

  
  .projectpic {
		width: 670px;
		}

  #roviodescription
  {
    font-size: 210%;
    clear: left;
    width: 670px;
  }

  .videosection
  {
  	padding-left: 50px;
  }

  .projectlink{
  	font-size: 100%;
  }

  .schoolprojecttitle{
  	width: 670px;
  }

  #gamegifs{
  	width: 670px;
  	display: flex;
  	justify-content: center;
  }

  }